# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = caleb-sni
	email = caleb.sanderson@spatialnetworks.com
	
[core]
	editor = vim
[pull]
	rebase = false
